{% extends 'layout.html' %}

{% block content %}
<h1>Search Tokens</h1>
    
<div class="search-bar">
    <h2 class="search-header">Token Number</h2>
    <select id="token-select">
        <option value="">Select a token</option>
        {% for token in unique_tokens %}
            <option value="{{ token }}">{{ token }}</option>
        {% endfor %}
    </select>
</div>

<div id="table-container"></div>

<script>
    const tokenSelect = document.getElementById('token-select');
    const tableContainer = document.getElementById('table-container');

    tokenSelect.addEventListener('change', (event) => {
        const selectedToken = event.target.value;
        if (selectedToken) {
            fetch(`/get_data?token=${selectedToken}`)
                .then(response => response.json())
                .then(data => {
                    const tableHTML = generateTable(data);
                    tableContainer.innerHTML = tableHTML;
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    tableContainer.innerHTML = '<p>Error fetching data</p>';
                });
        } else {
            tableContainer.innerHTML = '';
        }
    });


function generateTable(data) {
    let tableHTML = '<table class="data-table">';

    // Table header row
    tableHTML += '<tr>';
    for (const column in data[0]) {
        tableHTML += `<th>${column}</th>`;
    }
    tableHTML += '</tr>';

    // Data rows
    for (const record of data) {
        tableHTML += '<tr>';
        for (const value in record) {
            tableHTML += `<td>${record[value]}</td>`;
        }
        tableHTML += '</tr>';
    }

    tableHTML += '</table>';
    return tableHTML;
}

</script>


<style>
    /* Table styling */
    .data-table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        border: 1px solid #ddd;
    }

    .data-table th,
    .data-table td {
        padding: 8px;
        text-align: left;
    }

    .data-table th {
        background-color: #f2f2f2;
    }

    .data-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}
